<section class="">
  <div class="main-wrapper">
    <div class="main-heading">
      <h2>Congratulation!</h2>
    </div>
    <div class="game-image">
      <img src="assets/images/game-image.png">
      <div class="image-text">
        <p class="game-name">ARMA III</p>
        <p class="title-text">New game has been added successfully!</p>
      </div>
    </div>
    <div class="div-bg">
    </div>
    <div class="id-bg">
      <!-- <div class="button view-btn">
        <a href="#" class="btn btn-info">VIEW THIS GAME</a>
      </div>
 -->
      <div class="id-block">
        <p class="id-name">Client ID</p>
        <p class="id-text">F9erapi.com/c824604/v824604666/b43b6/ WC8rY-FwNx</p>
        <p class="id-name">Client secret</p>
        <p class="id-text">Sulima-Arma-C824604/v824604666/b43b6/WC8rY-FwBv</p>
      </div>
    </div>
    <div class="button add-btn add-new-home-btn">
      <a routerLink="/games/list"><span class="glyphicon glyphicon-plus"></span> Back to Games</a>
    </div>
  </div>
</section> <!-- middle section -->
