.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

.sdk-keys {
  cursor: pointer;
}

.modal-body .form-group {
  display: flex;
  align-items: flex-end;
}

.modal-body .form-control {
  width: 70%;
  margin-left: 10px;
}

.modal-body .btn-info {
  margin-left: 10px;
}