<section class="middle-section">
  <div class="container">
    <div class="main-heading row btn-desk hidden-xs">
      <div class="buttons back-btn pull-left col-md-4 col-sm-4 col-xs-4">
        <a href="#" class="btn btn-default">BACK</a>
      </div>
      <h2 class="col-md-4 col-sm-4 col-xs-4">Your games</h2>
      <div class="buttons back-btn pull-right text-right col-md-4 col-sm-4 col-xs-4">
        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> ADD GAME</a>
      </div>
    </div>
    <div class="main-heading row btn-mob">
      <h2 class="col-md-12 col-sm-12 col-xs-12">Your games</h2>
      <div class="buttons back-btn pull-left col-md-6 col-sm-6 col-xs-6">
        <a href="#" class="btn btn-default">BACK</a>
      </div>
      <div class="buttons back-btn pull-right text-right col-md-6 col-sm-6 col-xs-6">
        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>  ADD GAME</a>
      </div>
    </div>

    <div class="table-bg">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><span>Game Title</span></th>
              <th><span>Player Introduced</span></th>
              <th><span>Force reward</span></th>
              <th><span>Force earned</span></th>
              <th><span>Options</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MegaMan</td>
              <td>2 456</td>
              <td>15 000</td>
              <td>234</td>
              <td><a href="#"><b>more</b></a></td>
            </tr>
            <tr>
              <td>ARMA 3</td>
              <td>2 456</td>
              <td>15 000</td>
              <td>234</td>
              <td class="tooltip-hover">
                <div class="more-app"><a href="#"><b>less</b></a>
                <div class="tooltip-box">
                  <div class="arrow_box">
                    <ul>
                      <li><a href="#">Edit Game</a></li>
                      <li><a href="#">View SDK Keys</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#deletemodal">Delete</a></li>
                    </ul>
                  </div>
                </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Ferma 4</td>
              <td>2 456</td>
              <td>15 000</td>
              <td>234</td>
              <td><a href="#"><b>more</b></a></td>
            </tr>
            <tr>
              <td>Crysis</td>
              <td>2 456</td>
              <td>15 000</td>
              <td>234</td>
              <td><a href="#"><b>more</b></a></td>
            </tr>
            <tr>
              <td>Fallout</td>
              <td>2 456</td>
              <td>15 000</td>
              <td>234</td>
              <td><a href="#"><b>more</b></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- container -->
</section> <!-- middle section -->