<section class="middle-section">
  <div class="main-wrapper">
    <div class="main-heading">
      <h2>Your games collection</h2>
    </div>
    <div class="button view-btn add-btn">
      <a routerLink="/games/add" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> ADD NEW GAME</a>
    </div>
    <div class="game-image">
      <img src="assets/images/add-image.png">
      <div class="image-text">
        <p class="game-name new-name">we found out that</p>
        <p class="title-text">You do not have any games connected yet...</p>
      </div>
    </div>
    <div class="div-bg">
    </div>

    <div class="button add-btn home-page-btn">
      <a routerLink="/home" class="btn btn-default ">HOME PAGE</a>
    </div>
  </div>
</section>