<div class="body-bg">
  <div class="form-bg">
    <div class="wrapper">
      <p *ngIf="error">
        <ngb-alert [type]="danger" [dismissible]="true" >
          <strong>Warning!</strong> {{error.message}}.
        </ngb-alert>
      </p>
      <div class="logo">
        <a href="">
          <img src="assets/images/logo.png">
        </a>
      </div>
      <form [formGroup]="forgotPasswordForm" *ngIf="isForgetPassword; else change">
        <div class="form-heading">
          <h3>Forgot Password</h3>
        </div>
        <div class="forgot-text">
          <p>Dont worry.Resetting your password is easy,just tell us the email address you registered.</p>
        </div>
        <div class="custom-form">
          <div class="form-group">
            <input type="email" name="" class="form-control" placeholder="email address" formControlName="email">
            <small [hidden]="forgotPasswordForm.controls.email.valid || forgotPasswordForm.controls.email.pristine" class="text-danger">
              Please enter a valid email
            </small>
          </div>
          <div class="button send-btn">
            <a (click)="resetPassword()" class="btn btn-info">SEND</a>
          </div>
          <div class="button signup-btn">
            <a href="#" class="btn btn-default">BACK</a>
          </div>
        </div>
      </form>

      <ng-template #change>
        <form [formGroup]="changePasswordForm">
          <div class="form-heading">
            <h3>Change Password</h3>
          </div>
          <div class="custom-form">
            <div class="form-group">
              <input type="password" name="" class="form-control" placeholder="Password" formControlName="password">
              <small [hidden]="changePasswordForm.controls.password.valid || changePasswordForm.controls.password.pristine" class="text-danger">
                Password is required
              </small>
            </div>
            <div class="button send-btn">
              <a (click)="changePassword()" class="btn btn-info">Update</a>
            </div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
<!-- body-bg -->