<div class="body-bg">
  <div class="form-bg">
    <div class="wrapper">
      <div class="logo">
        <a href="">
          <img src="assets/images/logo.png">
        </a>
      </div>
      <form [formGroup]="forgotPasswordForm">
        <div class="form-heading">
          <h3>Forgot Password</h3>
        </div>
        <div class="forgot-text">
          <p>Dont worry.Resetting your password is easy,just tell us the email address you registered.</p>
        </div>
        <div class="custom-form">
          <div class="form-group">
            <input type="email" name="" class="form-control" placeholder="email address" formControlName="email">
          </div>
          <div class="button send-btn">
            <a href="#" class="btn btn-info">SEND</a>
          </div>
          <div class="button signup-btn">
            <a href="#" class="btn btn-default">BACK</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- body-bg -->