<section class="middle-section">
  <div class="main-wrapper">
    <div class="main-heading">
      <h2>Add game</h2>
    </div>
    <div class="game-image">
      <img src="assets/images/game-img.png">
    </div>
    <div class="gamedetail-block">
      <div class="gamedetail-form">
        <form [formGroup]="addGameForm">
          <div class="form-group">
            <label>Game title</label>
            <input type="text" class="form-control" placeholder="Game title" formControlName="title">
            <small [hidden]="addGameForm.controls.title.valid || addGameForm.controls.title.pristine" class="text-danger">
              Title is required
            </small>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description" formControlName="description">
            <small [hidden]="addGameForm.controls.description.valid || addGameForm.controls.description.pristine" class="text-danger">
              Description is required
            </small>
          </div>
          <label>Platforms and Links</label>
          <div formArrayName="platforms" *ngFor="let pf of addGameForm.get('platforms').controls; let i = index;">
            <div [formGroupName]="i" class="platforms-form-group">

              <input formControlName="selected" placeholder="Item name" type="checkbox" class="pf-select"><label>{{pf.controls.name.value}}</label>
              <input class="form-control download-link-input" formControlName="link" placeholder="Download Link" *ngIf="pf.controls.selected.value">
              <small [hidden]="!pf.controls.selected.value || pf.controls.link.valid || pf.controls.link.pristine" class="text-danger">
                Link is required
              </small>
            </div>
          </div>
          <div class="form-group" [hidden]="gameId">
            <div class="input-group-addon">
              <input class="btn btn-default btn-file" type="file" name="user_image" accept="image/*" (change)="upload($event)">

              <div class="browse-image col-md-2 col-sm-2 col-xs-2">
                <img src="{{imageUrl}}">
              </div>
            </div>

            <small [hidden]="!imageFormatError" class="text-danger">
              Your File format is not correct, please upload an image with correct format.
            </small>
            <p class="text-info">Upload an image of size 250pxX250px</p>
          </div>
          <div class="buttons pull-left">
            <a href="#" class="btn btn-default">BACK</a>
          </div>
          <div class="buttons pull-right" [ngClass]="{'btn-invalid' : addGameForm.invalid}" [hidden]="gameId">
            <a (click)="create()" class="btn btn-info">ADD GAME</a>
          </div>
          <div class="buttons pull-right" [ngClass]="{'btn-invalid' : addGameForm.invalid}" [hidden]="!gameId">
            <a (click)="update()" class="btn btn-info">UPDATE GAME</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> <!-- middle section -->