<!-- <section class="middle-section">
  <div class="main-wrapper">
    <div class="main-heading">
      <h2>Add game</h2>
    </div>
    <div class="game-image">
      <img src="assets/images/game-img.png">
    </div>
    <div class="gamedetail-block">
      <div class="gamedetail-form">
        <form>
          <div class="form-group">
            <label>Game title</label>
            <input type="text" class="form-control" placeholder="Game title">
          </div>
          <div class="form-group">
            <label>Platform</label>
            <input type="text" class="form-control" placeholder="IOS Android PC Playstation Xbox">
          </div>
          <div class="form-group">
            <label>Game download link</label>
            <input type="text" class="form-control" placeholder="App Stor or Play Market">
          </div>
          <div class="form-group">
            <label>Upload Image</label>
            <div class="fileinput fileinput-new input-group col-md-10 col-sm-10 col-xs-10" data-provides="fileinput">
              <div class="form-control file-form" data-trigger="fileinput">
                <span class="fileinput-filename"></span>
              </div>
              <span class="input-group-addon btn btn-default btn-file">
                <span class="fileinput-new">UPLOAD</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" name="...">
              </span>
              <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
            <div class="browse-image col-md-2 col-sm-2 col-xs-2">
              <img src="assets/images/image.png">
            </div>
          </div>
          <div class="buttons pull-left">
            <a href="#" class="btn btn-default">BACK</a>
          </div>
          <div class="buttons pull-right">
            <a href="#" class="btn btn-info">ADD GAME</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> --> <!-- middle section -->